* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #b5eede;
}
h3{
    padding: 3em;
}
nav {
    padding: 10px;
    grid-area: menu;
    background: #4f776c;
    color: #a1cfc2e;
}

main {
    grid-area: seccion-principal;
    padding: 10px;
    overflow: auto;
    grid-row: 1em;
    column-gap: 1em;
}

footer {
    grid-area: pie-de-pagina;
    background: #4f776c;
    color: white;
    padding: 2em;
}

div {
    
    height: 100vh;
    display: grid;
    grid-template-rows: 1fro 10fr a1fr;

    grid-template-areas:
        "menu"
        "seccion-principal"
        "pie-de-pagina";
}
img{
    width: 30%;
}
main .grid-item{
  margin-left: 3em;
    display: grid;
    grid-row: 1em;
    column-gap: 1em;
    grid-template-columns: 1fr;
}
@media (min-width: 992px) {
    div {
        grid-template-areas:
            "menu seccion-principal"
            "menu seccion-principal"
            "menu pie-de-pagina";
        grid-template-columns: 6rem 1fr;
        grid-template-rows: auto auto 1fr;
        row-gap: 3em;
        
    }
 
    main .grid-item{
        
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
}
}